@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{
    var memberService = ApplicationContext.Current.Services.MemberService;

    var active = memberService.GetMembersByGroup("Active");
    var prospects = memberService.GetMembersByGroup("Prospect");
}

<div class="panel panel-default">
    <div class="panel-heading">Active Members</div>
    <div class="panel-body">

        @foreach (var member in active)
        {

            <div class="pull-left member">

                @{
                    //Photo stuff
                    string fullPath = member.GetValue("photo").ToString();
                    string[] substrings = fullPath.Split(',');
                    string srcString = substrings[2];
                    string[] srcSubStrings = srcString.Split(':');
                    string srcPath = srcSubStrings[1].Replace("\"", "");
                    srcPath = srcPath.Replace("}", "");

                    <img class="img-responsive memberPic" src="@srcPath" />
                    <p>

                        @(member.GetValue("firstname") + " " + member.GetValue("lastname")) <br />
                        @member.GetValue("address") <br />
                        @(member.GetValue("zip") + " " + @member.GetValue("city")) <br />
                        Mobile: @member.GetValue("mobile") <br />


                    </p>
                }
            </div>
                    }
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Prospects</div>
    <div class="panel-body">
        @foreach (var member in prospects)
        {    <div class="pull-left member">
            <p>
                @(member.GetValue("firstname") + " " + member.GetValue("lastname")) <br />
                Mobile: @member.GetValue("mobile") <br />
            </p>
            
        </div>
        }
    </div>
</div>

