@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{
    var memberService = ApplicationContext.Current.Services.MemberService;

    var active = memberService.GetMembersByGroup("Active");
    var prospects = memberService.GetMembersByGroup("Prospect");
}


<h2>Active</h2>
@foreach (var member in active)
{

    //Photo stuff

    string fullPath = member.GetValue("photo").ToString();
    string[] substrings = fullPath.Split(',');
    string srcString = substrings[2];
    string[] srcSubStrings = srcString.Split(':');
    string srcPath = srcSubStrings[1].Replace("\"", "");
    srcPath = srcPath.Replace("}", "");

    <img class="img-responsive" width="100" src="@srcPath" />
    <p>

        @(member.GetValue("firstname") + " " + member.GetValue("lastname")) <br />
        @member.GetValue("address") <br />
        @(member.GetValue("zip") + " " + @member.GetValue("city")) <br />
        Mobile: @member.GetValue("mobile") <br />


    </p>
}


<h2>Prospects</h2>
@foreach (var member in prospects)
{
    <p>

        @(member.GetValue("firstname") + " " + member.GetValue("lastname")) <br />
        Mobile: @member.GetValue("mobile") <br />
    </p>
}